

*,
*::break-before
*::after {

box-sizing: inherit;

}
   
    
:root {
    --white-text: rgba(255, 255, 255, 1);
    --blue-text: rgba(33, 150, 243, 1);
    --black-text: rgba(33, 33, 33, 1);
    --gray-text-phone: rgba(117, 117, 117, 1);
    --background-gray: rgba(47, 48, 58, 1);
    --background-section-four: rgba(245, 244, 250, 1);
    --footer-adress: rgba(255, 255, 255, 0.6);
    --mouse: rgba(0, 0, 0, 1);

      }
    
    

body {
   
    font-family: "Roboto", 'san-serif';

}

ul {

    list-style: none; 
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4,
h5 {

    margin: 0;
    
}

img {

    display: block;
    max-width: 100%;
    height: auto;
}

a {

    font-style: normal;
    text-decoration: none;
   
}

.page-header {

    display: flex;
    align-items: center;
  
    background-color: var(--white-text);


}

.page-header .container {

    display: flex;
    align-items: center;
    min-height: 80px;
    margin: 0 auto;
    padding: 0 auto;
}

.page-header .navigation {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    
        
}


p {

    margin: 0;

}

.container {

    width: 1170px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;


}


button {

    border: none;

}

.navigation-list .navigation-list-item{

    margin-left: 50px;


}

.navigation-list {

   display: flex;
   padding-top: 32px;
   padding-bottom: 32px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1,15;
    color: var(--gray-text-phone);
}


.navigation-link {

    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    Line-height: 1,14;
    
    color: var(--black-text);

}

.navigation-list .navigation-link.current {

    color: var(--blue-text);

}

  
.contacts-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--gray-text-phone);
}

.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {

    color: var(--blue-text);

}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {

    color: var(--blue-text);

}

.link-logo {
    
    font-family: Raleway, san-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    color: var(--black-text);

}

.logo-color {

    color: var(--blue-text);
}

.contacts {

    display: flex;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 25px;
    justify-content: space-between;
    margin-left: auto;
}


.contacts .contacts-link:last-child{

    margin-left: 50px;

}

.visualy-hidden {

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0000);
    overflow: hidden;

}

.footer {

    max-height: 252px;
   
    background-color: var(--background-gray);

}

.logo-footer {


    font-family: Raleway, san-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
   
    color: var(--white-text);

}

.footer .container {

padding-top: 60px;
padding-bottom: 60px;
}

.address-list-link {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
    margin-bottom: 60px;

    color: var(--white-text);

}

.contacts-list-link {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 10px;
    
    color: var(--footer-adress);

}

.address-list {

    margin-top: 20px;

}

.address-list-item:not(:last-child) {

    margin-bottom: 9px;

}