.container {

    
    width: 1170px;
    padding: 0 15px;
    
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
    
    
    }

.hero .container{

    text-align: center;
    /*min-height: 600px;*/
   
    background-color: var(--background-gray);

}


.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
 
    
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;

    color: var(--white-text);

}

.hero-button {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 200px;
    color: var(--white-text);
    background-color: var(--blue-text);

}

.work .container {

    display: flex;
    margin: 0 auto;
  
}

.work-list {

    display: flex;  
 
}

.work-list-item {

    width: 270px;

}

.work-list-item:not(:last-child) {

    margin-right: 30px;

}

.work-list-title {
 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 94px;
    
    color: var(--black-text);
    

}

.work-list-deskription {
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 94px;

   
    color: var(--gray-text-phone);

}

.mission {

    display: flex;
    margin: 0 auto;
    background-color: var(--white-text);

}

.mission-title {

    margin-top: 94px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    color: var(--black-text);

}
 .mission-list {

    display: flex;

 }

 .mission-list-item:not(:last-child) {

    margin-right: 30px;

 }

 .mission-list-item {

    margin-bottom: 94px;

 }


.team {

    display: flex;
    background-color: var(--background-section-four);

}

.team-title {

    margin-bottom: 50px;
    text-align: center;
    margin-top: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    color: var(--black-text);
   
}

.team-list {

    display: flex;
    margin-bottom: 30px;

}

.team-list-item {

    margin-bottom: 94px;

}

.team-list-item:not(:last-child) {

    padding-right: 30px;

}


.team-name {
    
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    color: var(--black-text);

}

.team-name-position {

    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
 
    color: var(--gray-text-phone);

}

.cards-description {

    gipadding: 30px 59px;

}

