


.buttons-list-item {

   /* font-family: Roboto, san-serif;*/
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    
    color: var(--black-text);

}

.buttons-list-item button{

    background-color: var(--background-section-four);

}


 .buttons-list-item button:hover,
 .buttons-list-item button:focus {

    color: var(--white-text);
    background-color: var(--blue-text);


 }

.project-list-title {

  /*  font-family: Roboto, san-serif;*/
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
    color: var(-black-text);
    
 }

.project-list-description {

   /* font-family: Roboto, san-serif;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    
    color: var(--gray-text-phone);
    
}
